.sidebar {
  background-color: $base;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  text-align: center;

  h1 {
    margin: 0;
    line-height: $header-height;
    color: $white;
  }
}

.content {
  
}

.content.main {
  margin-left: $sidebar-width;
  padding: 0 20px;
}

.primary-container {
  height: 100%;
}

.primary-container a {
  display: block;
  float: left;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: $lightest;
  padding: 2em 0;
}
