@import url(http://fonts.googleapis.com/css?family=Open+Sans|VT323);

%text-standard {
  font-family: 'Open Sans', sans-serif;
}

%text-monospace {
  font-family: 'VT323', monospace;
}

h1, h2, h3, h4, h5, h6 { @extend %text-standard; }

a {
  color: $link-color;
  text-decoration: none;

  @include transition(color 0.1s ease-in-out);

  &:hover {
    color: $link-color--hover;
  }
}
