<section class="post">
  <div class="post-header">
    <h1>This is a blog</h1>
    <div class="date">
      <span class="month">June</span> <span class="day">1</span> <span class="year">2015</span>
    </div>
  </div>

  <p>And this is some text on that blog. And even more text. And more text. Blah blah, blabity, blah.</p>
  <p>And this is some text on that blog. And even more text. And more text. Blah blah, blabity, blah.</p>
  <p>And this is some text on that blog. And even more text. And more text. Blah blah, blabity, blah.</p>
  <p>And this is some text on that blog. And even more text. And more text. Blah blah, blabity, blah.</p>
  <p>And this is some text on that blog. And even more text. And more text. Blah blah, blabity, blah.</p>
</section>
