<!-- <div class="content main">
  <%- partial('_post') %>

  <%- partial('_post') %>

  <%- partial('_post') %>

  <%- partial('_post') %>
</div> -->

<a href="#" class="github">Words</a>
<a href="#" class="code">code</a>
<a href="#" class="images">images</a>
<a href="#" class="contact">contact</a>
